/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/debugbar
.env
.env.backup
.env.production
.phpunit.result.cache
.vscode/
/scratch/
plan-tall-2026-2027.md
/docs/images/
*.sqlite
*.sqlite-journal
